@pdf-width: 45%;
@menu-width: 15%;
@navbarHeight: 5.5rem;

.menu {
    width: @menu-width;
    position: fixed;
}

.form {
    flex-grow: 1;
    height: 5000px;
    padding-right: @pdf-width;
    padding-left: @menu-width;
}

.pdf-container {
    width: @pdf-width;
    height: calc(100vh - @navbarHeight);
    position: fixed;
    right: 0;
}

.content-container {
    display: flex;
    padding-top: @navbarHeight;
}
