@pdf-width: 45%;
@menu-width: 15%;
@navbarHeight: 4.5rem;

.menu-container {
    width: @menu-width;
    position: absolute;
    top: 15%;
    margin: 5px;
}

.form-container {
    flex-grow: 1;
    overflow: auto;
    padding-left: calc(@menu-width + 10px);
}

.pdf-container {
    width: @pdf-width;
}

.content-container {
    display: flex;
    max-height: calc(100vh - @navbarHeight);
}
