@import '~nav-frontend-core/less/_variabler.less';

.form-submit-container {
    background-color: #e4edf2;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
}

.form-submit-checkbox {
    margin-bottom: 1.5rem;
}
