@import '~nav-frontend-core/less/_variabler.less';
@import '../../App.less';

.menu {
    background-color: #f1f6f8;
    padding: 0.5rem;
    padding-top: 10vh;
    max-width: 16rem;
    position: sticky;
    overflow-y: auto;
}

.menu-header {
    padding-left: 1.3rem;
    margin-bottom: 2rem;
}

.menu-link {
    padding: 0.8rem 1.3rem;
}

.menu-button {
    margin-bottom: .7rem;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.cancelmodal {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
}

.cancelmodal--title {
    margin-bottom: 2rem;
}

.cancelmodal--content {
    margin-bottom: 2rem;
    max-width: 30rem;
}

.cancelmodal--button {
    margin-bottom: 1rem;
    margin: auto;
}
