@import '../../App.less';

@formMarginBottom: 1.5rem;

.form {
    flex-grow: 1;
    overflow: auto;
}

.form-margin-bottom {
    margin-bottom: @formMarginBottom;
}

.half {
    width: 50%;
    padding-right: 0.5rem;
}
