.flatpickr {
    cursor: pointer;
}
.form-control .input {
    width: 100%;
    padding: 12px 20px;
    margin: 80px 0;
    box-sizing: border-box;
}
.flatpickr-calendar {
    background: #fff;
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 1rem 1rem 1.4rem;
    animation: none;
    direction: ltr;
    border: 1px solid #a0a0a0;
    line-height: 24px;
    border-radius: 2px;
    position: absolute;
    box-sizing: border-box;
    touch-action: manipulation;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    width: 310px;
}
.flatpickr-calendar.open,
.flatpickr-calendar.inline {
    opacity: 1;
    max-height: 640px;
    visibility: visible;
}
.flatpickr-calendar.open {
    display: inline-block;
    z-index: 99999;
}
.flatpickr-calendar.animate.open {
    margin-top: 0.7rem;
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.flatpickr-calendar.inline {
    display: block;
    position: relative;
    top: 2px;
}
.flatpickr-calendar.static {
    position: absolute;
    top: calc(100% + 2px);
}
.flatpickr-calendar.static.open {
    z-index: 999;
    display: block;
}
.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n + 1) .flatpickr-day.inRange:nth-child(7n + 7) {
    box-shadow: none !important;
}
.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n + 2) .flatpickr-day.inRange:nth-child(7n + 1) {
    box-shadow: -2px 0 0 #f1f1f1, 5px 0 0 #f1f1f1;
}
.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.flatpickr-calendar .hasWeeks .dayContainer {
    border-left: 0;
}
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
    height: 40px;
    border-top: 1px solid #a0a0a0;
}
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-innerContainer {
    border-bottom: 0;
}
.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
    height: auto;
}
.flatpickr-calendar:before {
    content: '';
    position: absolute;
    display: block;
    pointer-events: none;
    background-color: #fff;
    border-top: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    height: 1rem;
    width: 1rem;
    top: -1px;
    left: 22px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    transition: left 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.flatpickr-calendar.rightMost:before,
.flatpickr-calendar.rightMost:after {
    left: auto;
    right: 22px;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
    bottom: 100%;
}
.flatpickr-calendar.arrowTop:before {
    border-bottom-color: #a0a0a0;
}
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #a0a0a0;
}
.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
    top: 100%;
}
.flatpickr-calendar.arrowBottom:before {
    transform: rotate(-225deg);
    left: 44px;
    border-top-color: #a0a0a0;
}
.flatpickr-calendar.arrowBottom:after {
    border-top-color: #a0a0a0;
}
.flatpickr-calendar:focus {
    outline: 0;
}
.flatpickr-wrapper {
    position: relative;
    display: inline-block;
}
.flatpickr-months {
    display: flex;
    justify-content: space-around;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    cursor: pointer;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
    cursor: default;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-disabled svg path,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled svg path {
    color: #f1f1f1;
    fill: #f1f1f1;
    stroke: #f1f1f1;
}
.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
    position: relative;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    left: 0;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 0;
}
.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
    color: #a0a0a0;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: #0067c5;
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    width: 20px;
    height: 20px;
}
.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
    transition: fill 0.1s;
    fill: #a0a0a0;
    stroke: #a0a0a0;
    stroke-width: 2px;
}
.numInputWrapper {
    position: relative;
    height: auto;
}
.numInputWrapper span {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(72, 72, 72, 0.15);
    box-sizing: border-box;
}
.numInputWrapper span:hover {
    background: rgba(0, 0, 0, 0.1);
}
.numInputWrapper span:active {
    background: rgba(0, 0, 0, 0.2);
}
.numInputWrapper span:after {
    display: block;
    content: '';
    position: absolute;
}
.numInputWrapper span.arrowUp {
    top: 0;
    border-bottom: 0;
}
.numInputWrapper span.arrowUp:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(72, 72, 72, 0.6);
    top: 26%;
}
.numInputWrapper span.arrowDown {
    top: 50%;
}
.numInputWrapper span.arrowDown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(72, 72, 72, 0.6);
    top: 40%;
}
.numInputWrapper span svg {
    width: inherit;
    height: auto;
}
.numInputWrapper span svg path {
    fill: rgba(255, 255, 255, 0.5);
}
.numInputWrapper input {
    width: 100%;
}
.numInputWrapper input::-ms-clear {
    display: none;
}
.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
.flatpickr-current-month {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: 0.5ch;
    padding: 0;
}
.flatpickr-current-month span.cur-month:hover {
    background: rgba(0, 0, 0, 0.05);
}
.flatpickr-current-month .numInputWrapper {
    display: inline-block;
    width: 6ch;
    width: 7ch \0;
}
.flatpickr-current-month .numInputWrapper span {
    display: none;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: #fff;
}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: #fff;
}
.flatpickr-current-month input.cur-year {
    background: transparent;
    box-sizing: border-box;
    color: inherit;
    cursor: text;
    padding: 0 0 0 0.5ch;
    margin: 0;
    display: inline-block;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    appearance: textfield;
}
.flatpickr-current-month input.cur-year:focus {
    outline: 0;
}
.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
    font-size: 100%;
    color: #262626;
    background: #fff;
    pointer-events: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
    display: block;
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 0;
    color: #262626;
    font-size: 1rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}
.flatpickr-current-month .flatpickr-monthDropdown-months option {
    font-weight: bold;
}
.flatpickr-current-month .flatpickr-monthDropdown-months::-ms-expand {
    display: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month .flatpickr-monthDropdown-months:active {
    outline: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: #fff;
    outline: none;
    padding: 0;
}
.flatpickr-weekdays {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    height: 28px;
    font-weight: bold;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer {
    display: flex;
    width: 100%;
}
span.flatpickr-weekday {
    display: block;
    width: calc(100% / 7);
    cursor: default;
    color: #262626;
}
.dayContainer,
.flatpickr-weeks {
    padding: 1px 0 0 0;
}
.flatpickr-days {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}
.flatpickr-days:focus {
    outline: 0;
}
.dayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flatpickr-day {
    background: none;
    cursor: pointer;
    width: calc(100% / 7);
    height: 46px;
    line-height: 46px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.flatpickr-day:nth-child(7n) {
    color: #c30000;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: #f1f1f1;
    border-color: #f1f1f1;
}
.flatpickr-day.today {
    border-color: #a0a0a0;
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    border-color: #a0a0a0;
    background: #a0a0a0;
    color: #fff;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: #0067c5;
    box-shadow: none;
    color: #fff;
    border-color: #0067c5;
}
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
    border-radius: 50px;
}
.flatpickr-day.inRange {
    border-radius: 0;
    box-shadow: -5px 0 0 #f1f1f1, 5px 0 0 #f1f1f1;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: #a0a0a0;
    background: transparent;
    border-color: transparent;
    cursor: default;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    cursor: not-allowed;
    color: #a0a0a0;
}
.flatpickr-day.week.selected {
    border-radius: 0;
    box-shadow: -5px 0 0 #ffc166, 5px 0 0 #ffc166;
}
.flatpickr-day.hidden {
    visibility: hidden;
}
.rangeMode .flatpickr-day {
    margin-top: 1px;
}
.flatpickr-weekwrapper {
    float: left;
}
.flatpickr-weekwrapper .flatpickr-weeks {
    padding: 0 12px;
    border-left: 1px solid #a0a0a0;
}
.flatpickr-weekwrapper .flatpickr-weekday {
    float: none;
    width: 100%;
    line-height: 28px;
}
.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
    display: block;
    width: 100%;
    color: #a0a0a0;
    background: transparent;
    cursor: default;
    border: none;
}
.flatpickr-innerContainer {
    display: flex;
    margin-top: 1rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #a0a0a0;
}
.flatpickr-rContainer {
    display: block;
    width: 100%;
    padding: 0;
}
.flatpickr-time {
    text-align: center;
    outline: 0;
    height: 0;
    line-height: 40px;
    max-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    background: #fff;
    border-radius: 0 0 5px 5px;
}
.flatpickr-time:after {
    content: '';
    display: table;
    clear: both;
}
.flatpickr-time .numInputWrapper {
    flex: 1;
    width: 40%;
    height: 40px;
    float: left;
}
.flatpickr-time .numInputWrapper span {
    display: none;
}
.flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #a0a0a0;
}
.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: #a0a0a0;
}
.flatpickr-time.hasSeconds .numInputWrapper {
    width: 26%;
}
.flatpickr-time.time24hr .numInputWrapper {
    width: 49%;
}
.flatpickr-time input {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    color: #a0a0a0;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    appearance: textfield;
}
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
    font-weight: 400;
}
.flatpickr-time input:focus {
    outline: 0;
    border: 0;
}
.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
    height: inherit;
    float: left;
    line-height: inherit;
    color: #a0a0a0;
    font-weight: bold;
    width: 2%;
    user-select: none;
    align-self: center;
}
.flatpickr-time .flatpickr-am-pm {
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}
.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
    background: #f1f1f1;
}
.flatpickr-input[readonly] {
    cursor: pointer;
}
@-webkit-keyframes fpFadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fpFadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
