@import '~nav-frontend-core/less/_variabler.less';

.mulighetForArbeid__add {
    border: none;
    background: none;
    align-self: center;
    display: flex;
    cursor: pointer;
}

.mulighetForArbeid__add-text {
    margin-left: 5px;
    color: @navBla;
}
