@import '~nav-frontend-core/less/_variabler.less';

.mulighetForArbeid__container {
    margin-bottom: 50px;
}

.mulighetForArbeid__add {
    border: none;
    background: none;
    align-self: center;
    display: flex;
    cursor: pointer;
}

.mulighetForArbeid__add-text {
    margin-left: 5px;
    color: @navBla;
}

.mulighetForArbeid__subsection-container {
    margin-bottom: 20px;
}

.mulighetForArbeid__gradert-row {
    display: flex;
}

.mulighetForArbeid__gradert-row__grad {
    width: 80px;
    margin-right: 40px;
}

.mulighetForArbeid__divider {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 4px;
    background-color: #f1f6f8;
    border: none;
}
